<<<<<<< HEAD
/* 검색버튼 */
.form-control .input-Search{

	border-right-style:none;
	border-bottom: 1px solid #ced4da;
	
}

.Search{
	width: 500px;
}
.btn-Search{
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 

}

.btn-Search:active{
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 

}

.ripple-surface{
	overflow:inherit;
	
}


.btn-Search:hover{
	background-color: #cb98ed;
	}

.nav-pills .nav-link{
	background-color: #f2f2f2;
	border-radius: 20px;
	height: 32px;
	padding:5px 10px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #cb98ed;
	border-radius: 20px;
	height: 32px;
	padding:5px 10px;

}
=======
>>>>>>> branch 'MinSunBitcamp' of https://github.com/ywoojeong/FinalMBTI.git
