/*한글 폰트 Noto Sans KR  font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #F7EEFD;
}

video{
	position: absolute; 
   overflow:hidden;
    top:-30%;
}

.form-control:focus{
	border-color: rgb(203 152 237);
	box-shadow: 0 0 0 0.2rem rgb(203 152 237 / 25%);
}

.hotMain{
	height: 500px;
	width:100%;
	background-color: #ff80c0;
	position: relative;
	overflow: hidden;
	margin: 0px auto;	
	position: relative; 
}
.hotMain>video{
	width:100%;
}

.hotMainSen >h2{
	font-family: 'Noto Sans KR', sans-serif;
	position:absolute;
	font-size:36pt;
	top:30%;
	left:50%;
	transform:translateX(-50%);
	z-index: 2;
	color: white;
	
}

.hotMainSen >p{
	font-family: 'Noto Sans KR', sans-serif;
	position:absolute;
	font-size:12pt;
	top:43%;
	left:50%;
	transform:translateX(-50%);
	  z-index: 2;
	  color: white;
	
}

.hotMainCover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6);                                                                 
   z-index:1;
}

/*챌린지 만들기 버튼 */

.hotMainSen .chall-buttons {
	position:absolute;
	top:63%;
	left:50%;
	transform:translateX(-50%);
    text-align: center;
      z-index: 2;
}

.chall-btn-hover {
    width: 230px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    letter-spacing: 4px;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.chall-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.chall-btn-hover:focus {
    outline: none;
}


.chall-btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}



/* 검색버튼 */
.form-control .input-Search{
	border-right-style:none;
	border-bottom: 1px solid #ced4da;
}

.Search{
	font-family: 'Noto Sans KR', sans-serif;
	/*position:absolute;
	top:45%;
	left:50%;
	transform:translateX(-50%);*/
	width: 500px;
	margin: 42px auto 16px auto;

	
}

.btn-Search{
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 
	box-shadow: 0 4px 15px 0 rgba(108,89,146, 0.75);

}

.btn-Search:hover{
	background-color: #8b63da;
	}


.btn-Search:active, .btn-Search:focus{
	box-shadow: 0 4px 15px 0 rgba(154,120,223, 0.75);
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 

}
 

.btn-Search:hover{
	background-color: #cb98ed;
	}
	

/*카테고리 범주 네비 디자인 */
.hotNav .nav-pills{
	justify-content: center;
	margin-left: 13px;
	margin: 20px 0 -20px 25px;
}

.hotNav .nav-pills .nav-link{
	font-family: 'Noto Sans KR', sans-serif;
	margin:11px auto 15px auto;
	background-color: white;
	border-radius: 20px;
	height:30px;
	font-size:10pt;
	padding:6px 25px;
	color: #222229;
	font-weight: 400;
	letter-spacing: 2px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

.hotNav .nav-link:focus, .hotNav .nav-link:hover{
	color: #8b63da;
    font-weight: 500;
}
.hotNav .nav-pills .nav-link.active,.hotNav .nav-pills .show>.nav-link{
	background-color: #cb98ed;
	border-radius: 20px;
	color:white;
	height:30px;
	padding:6px 25px;
	font-weight: 400;
	box-shadow: 0 2px 8px 0 rgba(154,120,223, 0.75);

}

.hotNav .nav .nav-item{
	margin-right: 40px;
    margin-left: 20px;
}
/* 줌 호버 */
.challCard{
	width: 18rem;
	/* height:22rem; */
	float: none;
	margin: 21px auto;
	overflow:hidden;
	position: relative;
	border-radius:0px;
	border: 0px solid;
	
}
.challCardImg{
	width:18rem;
	height:13rem;
	overflow:hidden;
	border-radius: 3px;
	
}
.challCardImg> img{ 
	overflow: hidden;
	object-fit: cover;
 	width:18rem;
	height:13rem;
	transition:all 0.5s;
 } 
 .challCardImg> img:hover{
 	transform:scale(1.2);
 } 
/* .zoom {  
  transition: all 1s; Animation
  width:100%; 
} */


/*카드 내부 디자인*/
.challCardContent{
	margin-top: 10px;
}

.cardTitle:hover{
	color: black;
	text-decoration: none;
}
.card-title{
	font-weight: 700px;
	margin-top: 2px;
	margin-bottom: 14px;
	font-size: 17pt;
}

.challuser{
	color:#222229;
	margin-bottom: 0px; 
	font-size: 10pt;
}
.usercount{
	width:72px;
	text-align:center;
	font-size: 10pt;
	background-color: #cb98ed;
	color:white;
	border-radius: 3px;
	padding: 0 10px;
/* 	margin-top: 8px; */
	/* margin-bottom: 6px; */

	
}

.when{
	border-radius: 3px;
	background-color: rgba(156, 156, 156, 30%);
	font-size: 10pt;
	padding: 0 10px;	
	margin-right: 10px;
	margin-top: 5px;
}

.card-text{
	font-weight: 500;
	color:#ff0000;
	margin: 5px 0 5px 0;
	font-size: 11pt;
}
.card-start{
	font-weight: 500;
	color:#5e5e5e;
	margin: 5px 0 5px 0;
	font-size: 11pt;
}

/* 페이징 디자인 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 50px;

}
.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span{
	position: relative;
    float: left;
    padding: 6px 12px;

    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	
}

 .page-item .disabled {
 	border-radius: 50px;
}

.page-item:first-child{
	border-radius: 50px;
}
.page-item:last-child  {
	border-radius: 50px;
}

.page-item .active {
	background-color: #cb98ed;
    border-color: #cb98ed;
}

.page-item>a:hover {
    color: white;
    background-color: #cb98ed;
    border-color: #cb98ed;
    border-radius: 50px;
}


.page-item>a {   
	color: black;
    margin-left: 10px;
    border-radius: 50px;
}

.page-item>a:focus {
  
    box-shadow: 0 0 0 0.2rem rgb(203 152 237 / 25%);
}


/*참가인원 없는 모션*/
.noneData{
	width: 752px;
    margin: 30px auto;
}
.noneData >h3 {
	text-align: center;
    width: 564px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 29px;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgb(255 255 255);
}
.noneData >h3:before{
	position: absolute;
	content: '';
	width: 0px;
	height: 6px;
	left: 0;
	background-color: rgba(226, 199,245,0.5);
	z-index: -1;
}
	
.noneData >h3:before {
	top: 1.2rem;
	animation: draw 500ms linear 1s forwards;
}

@keyframes up {
	100% {
		transform: translateY(0);
	}	
}

@keyframes draw {	
	100% {
		width: 100%;
	}
}