/*한글 폰트 Noto Sans KR  font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
}

/*introButton */
.intoButton:active{
	background-color: #f2f2f2;
	box-shadow: inset 1px 1px 0px 0px;
}

.headerTitle{
	height: 242px;
	background-color: white;	
}
.headerTitle>div>h5{
	    position: relative;
    font-size: 59px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 9px;
}
.headerTitle>div>h5:after{
content: " ";
    position: absolute;
    width: 255px;
    height: 2px;
    top: 92%;
    border: 2px solid #222222;
    right: 43%;
}
.headerTitle>div>p{
    margin-top: -8px;
    letter-spacing: 5px;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.headerC>h5{
    position: relative;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
}
.headerC>h5:after {
content: " ";
    position: absolute;
    width: 464px;
    height: 2px;
    top: 91%;
    border: 2px solid #222222;
    right: 30%;
}
.headerC>p{
margin-top: -6px;
    letter-spacing: 2px;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
        margin-bottom: 0;
}
.form-control:focus{
	border-color: rgb(203 152 237);
	box-shadow: 0 0 0 0.2rem rgb(203 152 237 / 25%);
}

.hotMain{
	height: 600px;
	width:75%;
	background-color: #ff80c0;
	overflow: hidden;
	position: relative;
	 z-index: 0;
}
.hotMain>video{
position: absolute; 
   overflow:hidden;
   width: 100%;
   z-index: 1;
}

.hotMainSen{
    padding: 30px;
    width: 800px;
    height: 415px;
    background-color: white;
    margin-top: 102px;
    margin-left: -100px;
    z-index: 2;
    display: flex;
        flex-direction: column;
    align-items: center;
}
.hotMainSen >h2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:32pt;
	font-weight:700;
	color: black;
	margin-top: 80px;
}

.hotMainSen >p{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14pt;
	  color: rgba(0,0,0,0.7);
	
}


/*챌린지 만들기 버튼 */

.hotMainSen .chall-buttons {
	
}

.chall-btn-hover {
    width: 230px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    letter-spacing: 4px;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.chall-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.chall-btn-hover:focus {
    outline: none;
}


.chall-btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}



/* 검색버튼 */
.form-control .input-Search{
	border-right-style:none;
	border-bottom: 1px solid #ced4da;
}

.Search{
	font-family: 'Noto Sans KR', sans-serif;
	/*position:absolute;
	top:45%;
	left:50%;
	transform:translateX(-50%);*/
	width: 500px;
	margin: 0 auto;

	
}

.btn-Search{
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 
	box-shadow: 0 4px 15px 0 rgba(108,89,146, 0.75);

}

.btn-Search:hover{
	background-color: #8b63da;
	}


.btn-Search:active, .btn-Search:focus{
	box-shadow: 0 4px 15px 0 rgba(154,120,223, 0.75);
	background-color: #8b63da;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 

}
 

.btn-Search:hover{
	background-color: #cb98ed;
	}
	

/*카테고리 범주 네비 디자인 */
.hotNav .nav-pills{
	justify-content: center;
	margin-left: 13px;
	margin: 20px 0 -20px 25px;
}

.hotNav .nav-pills .nav-link{
	font-family: 'Noto Sans KR', sans-serif;
    margin: 11px auto 15px auto;
    background-color: white;
    border-radius: 20px;
    height: 27px;
    font-size: 10pt;
    padding: 4px 21px;
    color: #222229;
    font-weight: 400;
    letter-spacing: 2px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
}

.hotNav .nav-link:focus, .hotNav .nav-link:hover{
	color: #8b63da;
    font-weight: 500;
}
.hotNav .nav-pills .nav-link.active,.hotNav .nav-pills .show>.nav-link{
	background-color: #cb98ed;
	border-radius: 20px;
	color:white;
	height:27px;
	padding: 4px 21px;
	font-weight: 400;
	box-shadow: 0 2px 8px 0 rgba(154,120,223, 0.75);

}

.hotNav .nav .nav-item{
	margin-right: 40px;
    margin-left: 20px;
}
/* 줌 호버 */
.challCard{
	width: 22rem;
/* 	height: 15rem; */
	float: none;
	margin: 21px auto;
	overflow:hidden;
	position: relative;
	border-radius:0px;
	border: 0px solid;
	
}
.challCardImg{
	width:22rem;
	height:15rem;
	overflow:hidden;
	border-radius: 3px;
	
}
.challCardImg> img{ 
	overflow: hidden;
	object-fit: cover;
 	width:22rem;
	height:15rem;
	transition:all 0.5s;
 } 
 .challCardImg> img:hover{
 	transform:scale(1.2);
 } 
/* .zoom {  
  transition: all 1s; Animation
  width:100%; 
} */


/*카드 내부 디자인*/
.challCardContent{
	margin-top: 10px;
}

.cardTitle:hover{
	color: black;
	text-decoration: none;
}
.card-title{
	font-weight: 700px;
	margin-top: 2px;
	margin-bottom: 14px;
	font-size: 17pt;
}

.challuser{
	color:#222229;
	margin-bottom: 0px; 
	font-size: 10pt;
}
.usercount{
	width:72px;
	text-align:center;
	font-size: 10pt;
	background-color: #cb98ed;
	color:white;
	border-radius: 3px;
	padding: 0 10px;
/* 	margin-top: 8px; */
	/* margin-bottom: 6px; */

	
}

.when{
	border-radius: 3px;
	background-color: rgba(156, 156, 156, 30%);
	font-size: 10pt;
	padding: 0 10px;	
	margin-right: 10px;
	margin-top: 5px;
}

.card-text{
	font-weight: 500;
	color:#ff0000;
	margin: 5px 0 5px 0;
	font-size: 11pt;
}
.card-start{
	font-weight: 500;
	color:#5e5e5e;
	margin: 5px 0 5px 0;
	font-size: 11pt;
}

/* 페이징 디자인 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 50px;

}
.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span{
	position: relative;
    float: left;
    padding: 6px 12px;

    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	
}

 .page-item .disabled {
 	border-radius: 50px;
}

.page-item:first-child{
	border-radius: 50px;
}
.page-item:last-child  {
	border-radius: 50px;
}

.page-item .active {
	background-color: #cb98ed;
    border-color: #cb98ed;
}

.page-item>a:hover {
    color: white;
    background-color: #cb98ed;
    border-color: #cb98ed;
    border-radius: 50px;
}


.page-item>a {   
	color: black;
    margin-left: 10px;
    border-radius: 50px;
}

.page-item>a:focus {
  
    box-shadow: 0 0 0 0.2rem rgb(203 152 237 / 25%);
}


/*참가인원 없는 모션*/
.noneData{
	width: 752px;
    margin: 30px auto;
}
.noneData >h3 {
	text-align: center;
    width: 564px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 29px;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px rgb(255 255 255);
}
.noneData >h3:before{
	position: absolute;
	content: '';
	width: 0px;
	height: 6px;
	left: 0;
	background-color: rgba(226, 199,245,0.5);
	z-index: -1;
}
	
.noneData >h3:before {
	top: 1.2rem;
	animation: draw 500ms linear 1s forwards;
}

@keyframes up {
	100% {
		transform: translateY(0);
	}	
}

@keyframes draw {	
	100% {
		width: 100%;
	}
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip1384 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 300px;
  max-width: 330px;
  height:400px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: rgba(0,0,0,0.5);
}
figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384 img {
  overflow:hidden;
  height:400px;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384 figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384 h3 {
  margin-top:120px;
  line-height: 1.2em;
  font-weight: 600;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384 p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  margin-top: 10px;
}
figure.snip1384 i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 0.5;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
