/*반짝반짝 메인 버튼 */

.pointButton {
	
    text-align: center;
      z-index: 2;
}

.point-btn-hover {
    width: 230px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    letter-spacing: 4px;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.point-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.point-btn-hover:focus {
    outline: none;
}


.point-btn-hover.color-Purple {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
/*/////////////////////////////////////////////////////////////*/

/*메인 검색버튼*/

.form-control:focus{
  border-color: rgb(255 214 34);
   box-shadow: 0 0 0 0.2rem rgb(255 214 34 / 25%);
} 

.form-control .input-SearchMain{
	border-right-style:none;
	border-bottom: 1px solid #ced4da;
}

.SearchMain{
	font-family: 'Noto Sans KR', sans-serif;
	/*position:absolute;
	top:45%;
	left:50%;
	transform:translateX(-50%);*/
	width: 370px;
	
	
}

.btn-SearchMain{
	background-color: #ffd622;
	color: white;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 
	box-shadow: 0 4px 13px 0 rgba(128, 123, 99, 0.70);

}

.btn-SearchMain:hover{
	background-color:#ffeb8c;

	}

.btn-SearchMain:active, .btn-SearchMain:focus{
	 box-shadow: 0 4px 15px 0 rgba(128, 123, 99, 0.55);
	background-color: #ffeb8c;
	color: black;
	border-radius:20px;
	padding-right:25px;
	padding-left:25px;
	margin-left: 20px; 

}
/*/////////////////////////////////////////////////////////////*/ 
 
/* 일반 검색 버튼(네모)*/
.form-control:focus{
  border-color: rgb(255 214 34);
   box-shadow: 0 0 0 0.2rem rgb(255 214 34 / 25%);
} 

.Search{
	font-family: 'Noto Sans KR', sans-serif;
	width: 370px;

}


.btn-Search{
	background-color: #ffd622;
	color: white;
	box-shadow: 0 4px 13px 0 rgba(128, 123, 99, 0.70);
}

.btn-Search:hover{
	background-color:#ffeb8c;
}

.btn-Search:active, .btn-Search:focus{
	box-shadow: 0 4px 15px 0 rgba(128, 123, 99, 0.55);
	background-color: #ffeb8c;
	color: black;


}

/*/////////////////////////////////////////////////////////////*/

/* nav tab*/
/*카테고리 범주 네비 디자인 */
.nav-pills{
	justify-content: center;
	margin-left: 25px;
}

.nav-pills .nav-link{
	font-family: 'Noto Sans KR', sans-serif;
	margin:30px 15px 15px 15px;
	background-color: #f2f2f2;
	border-radius: 20px;
	height:30px;
	font-size:10pt;
	padding:6px 25px;
	color: #222229;
	font-weight: 400;
	letter-spacing: 2px;
}

.nav-link:focus, .nav-link:hover{
	color:#ffd622;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #ffd622;
	border-radius: 20px;
	height:30px;
	padding:6px 25px;
	font-weight: 400;
	box-shadow: 0 2px 8px 0 rgba(154,120,223, 0.75);

}
/*/////////////////////////////////////////////////////////////*/

/*카드 버튼 */

.btn-Card{
	background-color: #ffd622;
	color: white;
	box-shadow: 0 4px 13px 0 rgba(128, 123, 99, 0.70);
}

.btn-Card:hover{
	background-color:#ffeb8c;
}

.btn-Card:active, .btn-Card:focus{
	box-shadow: 0 4px 15px 0 rgba(128, 123, 99, 0.55);
	background-color: #ffeb8c;
	color: black;
}
.card{
	box-shadow: 0 4px 13px 0 rgba(166,162,169, 0.70);
	border-radius: 0px;
}


/*/////////////////////////////////////////////////////////////*/

/* 카드 뒤 그림자 공통 */
/*box-shadow: 0 4px 13px 0 rgba(166,162,169, 0.70); */

/*/////////////////////////////////////////////////////////////*/

/* 페이징 디자인 */
.page-item.disabled .page-link {
 border-radius: 50px;
}

.page-item:last-child .page-link {
	border-radius: 50px;
}

.page-item.active .page-link {
	background-color: #ffd622;
    border-color: #ffd622;
}

.page-link:hover {
    color: white;
    background-color: #ffd622;
    border-color: #ffd622;
    border-radius: 50px;
}


.page-link {   
	color: black;
    margin-left: 10px;
    border-radius: 50px;
}

.page-link:focus {
  
    box-shadow: 0 0 0 0.2rem rgb(255 214 34 / 25%);
}



