/*한글 폰트 Noto Sans KR  font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*영어 기본 폰트 Poppins  font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 영어 포인트 폰트 Raleway  font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*네비 포인트 폰트 Krona One  font-family: 'Krona One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
	font-family: 'Raleway', sans-serif, Noto Sans KR', sans-serif;
	
}
*:lang(en){
	 font-family: 'Raleway', sans-serif;
}

}
/*부트스트랩 버튼과 인풋 테두리 컬러*/

.form-control:focus{
  border-color:#cb98ed;
   box-shadow: 0 0 0 0.2rem rgb(203 152 237 / 25%);
} 

.btn{
	background-color: #8b63da;
	color: white;
	box-shadow: 0 4px 15px 0 rgba(108,89,146, 0.75);
}


.btn:hover{
	background-color: #cb98ed;
}


.btn.active, .btn.focus, .btn:focus{ 
	 box-shadow: 0 4px 15px 0 rgba(108,89,146, 0.75);
}

a {
    color:black;
}

/*모달 바디*/
.modal-content{
	border-radius: 0px;
}


/* 네비바 디자인*/
.navbar{
	font-family: 'Krona One', sans-serif;
	height: 50px;

}

.nav-item{
 	margin-right: 50px;
 	margin-left: 20px;
}


 /* nav의 로그인 버튼 */
 
.loginbtn{
	background-color:#fff;
	border:2px solid #cb98ed;
	border-radius: 20px;
	width: 176px;
	height: 34px;
	font-family: 'Krona One', sans-serif;
	font-size: 12pt;
	color:#cb98ed;
}

.loginbtn:hover{
	background-color:#cb98ed;
	border:2px solid #cb98ed;
	font-size: 11pt;
	color:#fff;	
}

:focus-visible {
	outline: none;
}

button:focus{
	outline: none;
}

.me-auto{
 margin-right: auto!important;
}

}
 