/*한글 폰트 Noto Sans KR  font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
	
}

.container {
  background: #ffffff;
  width: 500px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  /* justify-content: center;
  align-items: center; */
 
  
}
.profile{
	position: absolute;
	left: 20%;
	width: 70%;
	top: 24%;
}


.logo {
	position: absolute;
	left:50%;
	transform:translateX(-50%);
  /*float: right;
   margin-right: 12px;
  margin-top: 30px; */
}


.logo >h1 {
  color: #8b63da;
  font-size: 1em;
  text-align: center;
 /*  margin-top: 40px;
  margin-bottom: 35px; */
}
.joinBtn {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #cb98ed;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.joinBtn h1 {
  color: #ffffff;
  margin-top: 10px;
  margin-left: 9px;
}

.joinBtn:hover {
  background: #8b63da;
  transform: scale(1.1);
}

.infoLogo {
  padding-top: 34px;
  /* text-align: center; */
}





h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #590061, rgb(230, 149, 247)) 1 0%;
  border-top: 0;
  width: 80%;
  font-size: 0.7em;
  padding: 7px 0;
  color: #070707;
  margin-bottom: 0;
}

.btnCheck {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #8b63da;
}

.btnCheck:hover {
  text-decoration: blink;
  font-weight: 900;
}

.btnImg {

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #8b63da;
  margin-left: 89px;
}

.btnImg:hover {
  text-decoration: blink;
  font-weight: 900;
}




input {
  border: none;
  border-right: 0px;
  border-top: 0px;
  boder-left: 0px;
  boder-bottom: 0px;
  padding: 2px;
  margin: 0;
}

.memberImg {
  border: 1px solid;
  border-image: linear-gradient(to right, #590061, rgb(230, 149, 247)) 1;
 /*  border-radius: 3px; */
  padding: 5px;
  width: 170px;
  height: 170px;
  margin-bottom: 50px;
}



#nickname {
  border: none;
  width: 130px;
  font-size: 10px;
}

.profile3{
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  width: 60%;
 
} 
label{
	margin-bottom: 0px;
	
}
