.container {
  background: #ffffff;
  width: 600px;
  height: 510px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 30px;
}

.joinBtn {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #cb98ed;
  font-size: 1em;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.joinBtn h1 {
  color: #ffffff;
  margin-top: 10px;
  margin-left: 9px;
}

.joinBtn:hover {
  background: #8b63da;
  transform: scale(1.1);
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: #cb98ed;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.rightbox {
  float: right;
  width: 60%;
  height: 100%;
  margin-top: 60px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #8b63da;
  font-size: 1.3em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #590061, rgb(230, 149, 247)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  padding: 7px 0;
  color: #070707;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #8b63da;
}

.btn:hover {
  text-decoration:blink;
  font-weight: 900;
}

input {
  border: none;
  border-right: 0px;
  border-top: 0px;
  boder-left: 0px;
  boder-bottom: 0px;
  padding: 2px;
  margin: 0;
}

.memberImg {
  border: 1px solid;
  border-image: linear-gradient(to right, #590061, rgb(230, 149, 247)) 1;
  border-radius: 3px;
  padding: 5px;
  width: 270px;
  height: 150px;
}
#nicknameCheck {
	border: none;
	width: 130px;
	font-size: 10px;
}