/* 영어 포인트 폰트 Raleway  font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*한글 폰트 Noto Sans KR  font-family: 'Noto Sans KR', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.nav-pills{
	display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin: 0 auto;
    padding-top: 100px;
}

.member_box {
  margin-top:140px;
  padding-top: 160px;
  border: #a6a6a6 solid 1px;
  height: 400px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 13px 0 rgb(166 162 169 / 70%);
}
.userWrap {
  border: 1px solid #a6a6a6;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  position: absolute;
  top: 15%;
}
.member_box > h3 {
  margin: 180px auto 2px;
}
.member_box > h4 {
  margin: 2px auto;
}
.member_link {
  border-top: 1px solid #ccc;
  width: 180px;
  margin-top: 10px;
  /* margin: 20px 30px 20px; */
  display: flex;
}
.cut_item {
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cut_icon {
  padding-top: 10px;
}
.cut_count {
  font-size: 15px;
  padding-top: 8px;
}
/* .member_rightBox {
  border: crimson solid 1px;
  height: 180%;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.member_suggest {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .member_month {
/*   border: black solid 1px; */
/*   width: 900px; */
/*   height: 600px; */
/*   position: absolute; */
	margin-top: 40px;
} 

.member_daily{
	margin-top: 100px;
}
.member_count {
  top: 20px;
  width: 100%;
  position: relative;
}
.category1{
	display: inline-block;
	background-color: #ffea90;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 12px;
	padding : 3px 10px 3px 10px;
}
.category2, .category3{
	display: inline-block;
	background-color: #dadad7;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 12px;
	padding : 3px 10px 3px 10px;
	margin-bottom: 6px;
}
.card-title{
	margin-left: 10px;
}
.card{
	height: 130px;
	width: 670px;
	margin-top: 25px;
	margin: 20px auto;
}

.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
}
.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
}

.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 30px;
  top: 33px;
  width: 125px;
}

#easypiechart-total .percent {
  color: #8b63da;
}
#easypiechart-user .percent {
  color: #8b63da;
}
#calendar{
	/* max-width: 800px; */
	/* height: 100%; */
	/* margin: 0 auto; */
}
.btn-Daily-Card{
	background-color: #ffd622;
	
}
.category4{
	display: inline-block;
	background-color: #ffea90;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 10px;
	padding : 2px 5px 2px 5px;
}
.category5, .category6{
	display: inline-block;
	background-color: #dadad7;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 10px;
	padding : 2px 5px 2px 5px;
	margin-bottom: 6px;
}
/* 제안하기 포인트 버튼 부분 */
.point-btn-hover {
    width: 230px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    letter-spacing: 4px;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.point-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.point-btn-hover:focus {
    outline: none;
}
.point-btn-hover.color-Yellow {
    /* background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7); */
    background-image: linear-gradient(to right, #ffd622, #fff16b, #ffd622, #fff16b);
    box-shadow: 0 4px 15px 0 rgba(172, 172, 173, 0.75);
    /* background-color: #ffd622; */
}

/* 제안하기 부분 */
.suggestCard{
    margin-top: 50px;
    box-shadow: 0 4px 13px 0 rgb(166 162 169 / 70%);
    border-radius: 0px;
    width: 100%;
}
.suggest-card-body{
	width: 600px;
    height: 140px;
    display: flex;
}
.suggest-category{
	font-size: 13px;
	margin-bottom: 2px;
	color: #828282;
}
.suggest-title{
	font-size: 20px;
}
.suggest-like{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
    margin-left: 496px;
    position: absolute;
}
.suggest-like>p{
	margin-bottom: 0;
	font-size: 10pt;
	margin-top: 5px;
}
.suggest-text{
	margin: auto;
    width: 100%;
    margin-left: 50px;
    position: relative;
}
.suggest-text>p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.myChartCls{
	margin: auto;
	margin-top: 50px;
	width: 500px;
}
.memModify{
	padding: 0.25em 0.7em 0.25em 0.7em;
	background-color: #e1e1e1;
    border-radius: 20px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border: 0;
    outline: 0;
}

.tabtabs{
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* 프로필 모달 부분*/
.profileCon{
  margin: 0 auto;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  width: 600px;
}
.profileBox{
	display: flex;
}
.profileBox > p{
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.profile{
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
}
.profileImg{
	margin: 0 auto; 
}
.btnImg {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #8b63da;
}
.memberImg {
  border: 1px solid;
  border-image: linear-gradient(to right, #ffd622, rgb(230, 149, 247)) 1;
 /*  border-radius: 3px; */
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#nickname {
  width: 130px;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.profile3{
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  width: 60%;
 
} 
label{
	margin-bottom: 0px;
}

.btnCheck {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #8b63da;
}
.obj{
  object-fit:scale-down;
}
.text-center{
	box-shadow: 0 4px 13px 0 rgb(166 162 169 / 70%);
	padding: 20px;
}
.d-daily{
	box-shadow: inset 0 -15px 0 #fff16b;
	font-size: 20px;
}
/* 제안하기 영역 */
.applyBox{
	border: 1px solid #ccc;
}
.commentTable{
	text-align: center;
}
.applyBbs{
	padding-top: 20px;
    padding-left: 20px;
}
.applyCom{
	margin-bottom: 20px;
}
.cWrite{
	display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.selBox{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}